
.menu {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0px;

    @media (max-width: 991px) {
        .header__wrapper & {
            display: none;
        }

        .header__wrapper {
            display: none;
            flex-direction: column;
            justify-content: left;
            transition: all .5s ease-out;
        }
    }

    &_vertical {
        margin-top: 20px;
        margin-bottom: 20px;
        flex-direction: column;
    }

    &_vertical > &__item {
        margin: 10px 0 10px 0;
    }

    &__item {
        margin: 0 5px 0 5px;
        display: block;
    }

    &__link {
        color: #0F4FA8;
    }

    &__link:hover {
        color: #05316D;
    }

    &__link:visited {
        color: #0F4FA8;
    }
}
