.header {
    padding: 20px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    min-height: 65px;
    border-bottom: 1px solid #0F4FA8;
    background-color: white;
    z-index: 10;
    box-shadow: 0 0 0.4rem 0 rgba(15, 79, 168, 0.5);
    transition: all .5s ease-out;

    &:hover {
        box-shadow: 0 0 0.5rem 0 rgba(15, 79, 168, 0.7);
    }

    &__toggle {
        display: none;
    }

    &__btn {
        display: flex;
        align-items: center;
        position: relative;
        height: 26px;
        cursor: pointer;
        z-index: 15;

        @media (min-width: 992px) {
            display: none;
        }
    }

    &__hamburger,
    &__hamburger::before,
    &__hamburger::after {
        display: block;
        position: absolute;
        width: 26px;
        height: 2px;
        transition-duration: .25s;
        background-color: #0F4FA8;
    }

    &__title {
        position: absolute;
        left: 36px;
        font-weight: 400;
    }

    &__hamburger::before {
        content: '';
        top: -8px;
    }

    &__hamburger::after {
        content: '';
        top: 8px;
    }

    &__toggle:checked~&__btn>&__hamburger {
        transform: rotate(45deg);
        background-color: #05316D;
    }

    &__toggle:checked~&__btn>&__hamburger::before {
        top: 0;
        transform: rotate(0);
        background-color: #05316D;
    }

    &__toggle:checked~&__btn>&__hamburger::after {
        background-color: #05316D;
        top: 0;
        transform: rotate(90deg);
    }

    &__toggle:checked~&__btn>&__title {
        font-weight: bold;
        color: #05316D;
    }

    &__toggle:checked~&__wrapper {
        display: flex;
        transition: all .5s ease-out;
    }

    &__toggle:checked~&__wrapper .menu {
        display: flex;
        transition: all .5s ease-out;
    }

    &__wrapper {
        display: flex;
        flex-wrap: wrap;

        @media (max-width: 400px) {
            flex-direction: column;
        }
    }
}