.section {
    padding: 50px 0 50px 0;
    position: relative;

    &-name {
        position: absolute;
        left: 0;
        bottom: 0;
        font-family: 'Indie Flower', cursive;
        color: #6996D3;
        opacity: 0.4;
        font-size: 15vw;
        line-height: 0.4;
        z-index: -1;
        max-width: 100%;
    }
}

hr {
    max-width: 30%;
    height: 2px;
    background-color: #0F4FA8;
}